body {
	font-size: 0.8rem;
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	-ms-overflow-style: none;    /* IE, Edge ‘Î‰ž */
	scrollbar-width: none;       /* Firefox ‘Î‰ž */
}
body::-webkit-scrollbar {  /* Chrome, Safari ‘Î‰ž */
	display:none;
}
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
select {
	width: 18rem;
	border-radius: 10px;
	border: 1px solid #666666;
	padding-left: 1rem;
}
input[type=radio] {
	display: none;
}

input[type=radio] + span {
	border: 1px solid #006dd9;
	border-radius: 5px;
	padding: 3px 8px;
	line-height: 2.5rem;
}

input[type=radio]:checked + span {
	background: #31a9ee;
	color: #ffffff;
//	font-weight: bold;
}

input[type=radio]:disabled + span {
	display: none;
}

.3m-main {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	width: -webkit-fill-available;;
	height: -webkit-fill-available;
}
.device-area {
	border: 4px solid #00ccff;
	border-bottom: 50px solid #00ccff;
	border-radius: 10px;
	display: table-cell;
	width: 30vw;
	height: 85vh;
}

.device-area .header {
	background: #00ccff;
	color: #0000aa;
	font-weight: bold;
	text-align: center;
}

.plan-area {
	border: 4px solid #ffaacc;
	border-bottom: 50px solid #ffaacc;
	border-radius: 10px;
	display: table-cell;
	width: 35vw;
	margin-left: 3px;
}

.plan-area .header {
	background: #ffaacc;
	color: #aa0000;
	font-weight: bold;
	text-align: center;
}
.footer {
	font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
	position: absolute;
	bottom: 35px;
	text-align: right;
}
.device-area .footer {
	color: #0000aa;
	width: 35vw;
}
.plan-area .footer {
	color: #aa0000;
	width: 35vw;
}
.campaign-area .footer {
	color: #003300;
	width: 30vw;
}
.footer span {
	padding-right: 0.8rem;
}

.campaign-area {
	border: 4px solid #00ff66;
	border-bottom: 50px solid #00ff66;
	border-radius: 10px;
	display: table-cell;
	width: 30vw;
}

.campaign-area .header {
	background: #00ff66;
	color: #003300;
	font-weight: bold;
	text-align: center;
}


.device-area div,
.plan-area div,
.campaign-area div {
	padding: 0 1rem;
}

input[type=text] {
	text-align: right;
	width: 7rem;
	padding-right: 1rem;
	border-radius: 10px;
	border: 1px solid #666666;
}

.element {
	border-left: 4px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin: 1rem 2rem 0.5rem 1rem;
}



